@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --radius: 0.5rem;
      color: white;
    }
  
    .hide-scrollbar::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      border-radius: 0px;
    }
  
    .hide-scrollbar::-webkit-scrollbar-track {
      background: transparent;
    }
  
    .hide-scrollbar::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 0px;
    }
  
    .hide-scrollbar::-webkit-scrollbar-thumb:hover {
      background: transparent;
    }
  }

  @layer components {
    .main_section {
      background: linear-gradient(rgba(17, 22, 36, 0) 10%, rgb(7, 10, 18)), url('../public/images/pattern.webp');
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
      @apply font-ibm-plex-sans;
  }
      
    .wrapper_div {
      @apply max-w-7xl px-10 max-xs:px-5 mx-auto
    }


  }